@using MENDESHOP.Models
@model List<CartItem>
@{
    ViewBag.Title = "GetCartInfo";
    <link href="~/Content/hangl.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/MendeStyle.css" />

}
<style>
    .quantity-container {
        display: flex;
        align-items: cent er;
    }

    .quantity-input {
        width: 50px;
        text-align: center;
    }

    .quantity-button {
        display: inline-block;
        padding: 5px 10px;
        background-color: #eee;
        border: none;
        cursor: pointer;
    }
</style>
@{ var user = Session["User"] as MENDESHOP.Models.User;}
<div class="return">
    <div class="container-fluid" style="background-color: #f7f5f5; height:50px;width:100%">
        <div class="container" style="display:flex; line-height: 50px; ">
            <a style="text-decoration: none; color: black" href="/Products/Index">Trang chủ</a>
            <p>/</p>
            <a style="text-decoration: none; color: black" href="#">Danh mục</a>
            <p>/</p>
            <p>Giỏ hàng</p>
        </div>
    </div>
</div>
<div class="container" style="
    display: flex;
">
    <div style="
    flex: 1;
">
        <h3 style="font-weight:600">GIỎ HÀNG</h3>
        <table class="table table-bordered">

            @foreach (var product in Model)
            {
                <tr>
                    <td style="width: 150px;" class="hinh">
                        <img style="max-width: 100%;" src="~/images/@product.ImagePro" />
                    </td>
                    <td>
                        <p>@product.NamePro</p>
                        <p>Số lượng @product.Number</p>
                        <p>@product.Price.ToString("N0").000  đ</p>

                        <p>@product.FinalPrice().ToString("N0").000 đ</p>

                    </td>

                </tr>
            }
            <tr style="font-weight:bold; text-align:right; color:red;">
                <td colspan="5">Tổng số lượng: @ViewBag.TotalNumber</td>
                <td colspan="1">Tổng tiền: @ViewBag.TotalPrice.ToString("N0").000  đ</td>
            </tr>

        </table>
        <div class="row" style="margin-bottom:50px">
            <div class="col-sm-6">
                <a class="btn btn-default" href="@Url.Action("Index", "Products")">
                    TIẾP TỤC MUA
                </a>
            </div>

            @{ if (user == null)
                {
                    <div class="col-sm-6" style=" text-align: right;">
                        <a style="" class="btn btn-danger" href="" onclick="showNotification()">
                            Thanh Toán
                        </a>
                    </div>
                }
                else
                {
                    <div class="col-sm-6" style=" text-align: right;">
                        <a style="" class="btn btn-danger" href="@Url.Action("Thank", "Products")">
                            Thanh Toán
                        </a>
                    </div>
                }

            }


        </div>
    </div>
    <div class="step" style="
    flex: 1;
">
        <div class="step-sections " step="1">
            <div class="section">
                <div class="section-header">
                    <h2 class="section-title">Thông tin giao hàng</h2>
                </div>

                <div style="padding-left: 0.9em;">
                    @{ if (user == null)
                        {
                            <p style="margin-bottom: 0em;">
                                Bạn đã có tài khoản?
                                <a href="/User/Login">Đăng nhập</a>
                            </p>
                        }
                        else
                        {
                            <div class="logged-in-customer-information" style="display: flex">


                                <img style="width: 10%; border-radius:9px" src="~/images/acc3.jpg" />

                                <p class="logged-in-customer-information-paragraph" style="
                                                        margin: 8px 10px;
">
                                    @user.UserName (@user.Email)
                                    <br>
                                    <a href="/User/Logout">Đăng xuất</a>
                                </p>
                            </div>
                        }

                    }

                </div>
                <div class="section-content section-customer-information no-mb">
                    <input type="hidden" name="checkout_user[email]" value="phuc123aw@gmail.com">

                </div>
                <div class="section-content">
                    <div class="fieldset">

                        <form autocomplete="off" id="form_update_shipping_method" class="field default" accept-charset="UTF-8" method="post">
                            <input name="utf8" type="hidden" value="✓">
                            <div class="content-box mt0">

                                <div id="form_update_location_customer_shipping" class="order-checkout__loading radio-wrapper content-box-row content-box-row-padding content-box-row-secondary " for="customer_pick_at_location_false">
                                    <input name="utf8" type="hidden" value="✓">

                                    <div class="field">
                                        <div class="field-input-wrapper">
                                            <label class="field-label" for="billing_address_full_name">Họ và tên</label>
                                            <input placeholder="Họ và tên" autocapitalize="off" spellcheck="false" class="field-input  inpu11" size="30" type="text" id="billing_address_full_name" name="billing_address[full_name]" value="">
                                        </div>

                                    </div>
                                    <div class="field field-required">
                                        <div class="field-input-wrapper">
                                            <label class="field-label" for="billing_address_phone">Số điện thoại</label>
                                            <input autocomplete="false" placeholder="Số điện thoại" autocapitalize="off" spellcheck="false" class="field-input inpu11 " size="30" maxlength="15" type="tel" id="billing_address_phone" name="billing_address[phone]" value="">
                                        </div>
                                    </div>
                                    <div class="field field-required">
                                        <div class="field-input-wrapper">
                                            <label class="field-label" for="billing_address_address1">Địa chỉ</label>
                                            <input placeholder="Địa chỉ" autocapitalize="off" spellcheck="false" class="field-input inpu11" size="30" type="text" id="billing_address_address1" name="billing_address[address1]" value="">
                                        </div>

                                    </div>
                                    <div class="field field-required field-third">
                                        <div class="field-input-wrapper field-input-wrapper-select">
                                            <label class="field-label" for="tinh"> Tỉnh / thành  </label>
                                            <select class="field-input" id="tinh" name="customer_shipping_province">
                                                <option value="0" class="hidden-option">Chọn tỉnh / thành</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="field field-required field-third">
                                        <div class="field-input-wrapper field-input-wrapper-select">
                                            <label class="field-label" for="quan">Quận / huyện</label>
                                            <select class="field-input" id="quan" name="customer_shipping_district">
                                                <option value="0" class="hidden-option">Chọn quận / huyện</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="field field-required field-third">
                                        <div class="field-input-wrapper field-input-wrapper-select">
                                            <label class="field-label" for="phuong">Phường / xã</label>
                                            <select class="field-input" id="phuong" name="customer_shipping_ward">
                                                <option value="0" class="hidden-option">Chọn phường / xã</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="change_pick_location_or_shipping">
                </div>
            </div>
        </div>

    </div>



</div>

<style>
    .hidden-option {
        display: none;
    }
</style>


<script>
    // Lấy tất cả các phần tử quantity-control trên trang
    var decreaseButton = document.getElementById("decrease");
    var increaseButton = document.getElementById("increase");
    var quantityInput = document.getElementById("quantity");

    decreaseButton.addEventListener("click", function () {
        var currentValue = parseInt(quantityInput.value);
        if (currentValue > 0) {
            quantityInput.value = currentValue - 1;
        }
    });

    increaseButton.addEventListener("click", function () {
        var currentValue = parseInt(quantityInput.value);
        quantityInput.value = currentValue + 1;
    });
</script>
<script>
    // Lấy tất cả các phần tử quantity-control trên trang
    var quantityControls = document.querySelectorAll('.quantity-control');

    // Duyệt qua từng phần tử và thêm sự kiện cho nút tăng/giảm số lượng
    quantityControls.forEach(function (control) {
        var minusButton = control.querySelector('.minus-btn');
        var plusButton = control.querySelector('.plus-btn');
        var quantityInput = control.querySelector('.quantity-input');

        minusButton.addEventListener('click', function () {
            var currentValue = parseInt(quantityInput.value);
            if (currentValue > 1) {
                quantityInput.value = currentValue - 1;
            }
        });

        plusButton.addEventListener('click', function () {
            var currentValue = parseInt(quantityInput.value);
            quantityInput.value = currentValue + 1;
        });
    });
</script>
<script>
    function showNotification() {
        alert('Vui lòng đăng nhập để tiếp tục thanh toán.');
        window.location.href = '/User/Login'; // Thay đổi '/dang-nhap' thành URL trang đăng nhập của bạn
    }
</script>
<script src="https://esgoo.net/scripts/jquery.js"></script>
<script>
    $(document).ready(function () {
        // Lấy tỉnh thành
        $.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm', function (data_tinh) {
            if (data_tinh.error == 0) {
                $.each(data_tinh.data, function (key_tinh, val_tinh) {
                    $("#tinh").append('<option value="' + val_tinh.id + '">' + val_tinh.full_name + '</option>');
                });

                $("#tinh").change(function (e) {
                    var idtinh = $(this).val();
                    // Lấy quận huyện
                    $.getJSON('https://esgoo.net/api-tinhthanh/2/' + idtinh + '.htm', function (data_quan) {
                        if (data_quan.error == 0) {
                            $("#quan").empty(); // Xóa tất cả các option hiện tại
                            $("#quan").append('<option value="0" class="hidden-option">Chọn quận / huyện</option>');
                            $.each(data_quan.data, function (key_quan, val_quan) {
                                $("#quan").append('<option value="' + val_quan.id + '">' + val_quan.full_name + '</option>');
                            });
                            $("#phuong").html('<option value="0" class="hidden-option">Chọn phường / xã</option>'); // Reset phường xã

                            // Lấy phường xã
                            $("#quan").change(function (e) {
                                var idquan = $(this).val();
                                $.getJSON('https://esgoo.net/api-tinhthanh/3/' + idquan + '.htm', function (data_phuong) {
                                    if (data_phuong.error == 0) {
                                        $("#phuong").empty(); // Xóa tất cả các option hiện tại
                                        $("#phuong").append('<option value="0" class="hidden-option">Chọn phường / xã</option>');
                                        $.each(data_phuong.data, function (key_phuong, val_phuong) {
                                            $("#phuong").append('<option value="' + val_phuong.id + '">' + val_phuong.full_name + '</option>');
                                        });
                                    }
                                });
                            });
                        }
                    });
                });
            }
        });
    });
</script>

